/* Inline Hints */
/*#FFFAD5*/
/*#FFD34E*/
/* placeholders */
/* editors */
@namespace oxy url('http://www.oxygenxml.com/extensions/author');
@namespace xl url('http://www.w3.org/1999/xlink');
article > info > author {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0.4em;
  margin-top: 1em;
  padding: 0.2em;
  position: relative;
}
article > info > author:before(202) {
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #55aaff;
  content: 'Author information';
  border-bottom: 1px solid gray;
  margin-bottom: 0.4em;
  padding: 0.2em;
}
article > info > author:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
article > info > author:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
article > info > author:hover:before(5000) {
  visibility: visible;
}
article > info > author:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
article > info > author:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
keywordset {
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0.4em;
  margin-top: 1em;
  padding: 0.2em;
  position: relative;
}
keywordset:before(202) {
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #55aaff;
  content: 'Keywords';
  border-bottom: 1px solid gray;
  margin-bottom: 0.4em;
  padding: 0.2em;
}
keywordset:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
keywordset:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
keywordset:hover:before(5000) {
  visibility: visible;
}
keywordset:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
keywordset:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
keywordset:empty {
  -oxy-show-placeholder: always;
}
keywordset:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(color, #b08a5d, fontInherit, true, action, oxy_action(name, '[+]', description, 'Insert new keyword', operation, 'ro.sync.ecss.extensions.commons.operations.InsertFragmentOperation', arg-fragment, '<keyword xmlns="http://docbook.org/ns/docbook"><?oxy-placeholder content="keyword"?></keyword>', arg-insertLocation, '.', arg-insertPosition, 'Inside as last child' arg-schemaAware, false), transparent, true, actionContext, element, showIcon, true);
}
keywordset:focus-within:after(1090),
keywordset:hover:after(1090) {
  visibility: visible;
}
keyword {
  margin: 0.1em;
}
abstract {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0.4em;
  margin-top: 1em;
  padding: 0.2em;
  position: relative;
}
abstract:before(202) {
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #55aaff;
  content: 'Abstract';
  border-bottom: 1px solid gray;
  margin-bottom: 0.4em;
  padding: 0.2em;
}
abstract:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
abstract:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
abstract:hover:before(5000) {
  visibility: visible;
}
abstract:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
abstract:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
section > title:empty {
  -oxy-show-placeholder: always;
}
section > title:after(2090) {
  visibility: hidden;
  display: inline;
  content: ' ' ' ' oxy_button(transparent, true, actionID, 'promote.section', showIcon, true) oxy_button(transparent, true, actionID, 'demote.section', showIcon, true);
}
section > title:focus-within:after(2090),
section > title:hover:after(2090) {
  visibility: visible;
}
article > section {
  position: relative;
}
article > section:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
article > section:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
article > section:hover:before(5000) {
  visibility: visible;
}
article > section:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
article > section:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
article > section:empty {
  -oxy-show-placeholder: always;
}
article > section:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(color, #b08a5d, action, oxy_action(name, '[add section]', description, 'Insert new section', operation, 'ro.sync.ecss.extensions.commons.operations.InsertFragmentOperation', arg-fragment, '<section  xmlns="http://docbook.org/ns/docbook"><title><?oxy-placeholder content="Section title"?></title> <para><?oxy-placeholder content="You can use not only paragraphs, but also programlistings, examples, lists, tables, etc."?></para></section>', arg-insertLocation, '.', arg-insertPosition, 'After', arg-schemaAware, false), transparent, true, actionContext, element, showIcon, true);
}
article > section:focus-within:after(1090),
article > section:hover:after(1090) {
  visibility: visible;
}
bibliography {
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0.4em;
  margin-top: 1em;
  padding: 0.2em;
  position: relative;
}
bibliography:before(202) {
  display: block;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #55aaff;
  content: 'Bibliography';
  border-bottom: 1px solid gray;
  margin-bottom: 0.4em;
  padding: 0.2em;
}
bibliography:before(5000) {
  line-height: 1px;
  width: 1em;
  display: block;
  position: absolute;
  top: 2px;
  text-align: right;
  right: 2px;
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[+]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, showIcon, true);
}
bibliography:-oxy-hints:before(5000) {
  visibility: hidden;
  content: oxy_button(action, oxy_action(name, '[-]', description, oxy_concat('See description for ', oxy_local-name()), operation, 'ro.sync.ecss.extensions.commons.operations.TogglePseudoClassOperation', arg-elementLocation, '.', icon, url('img/info16.png'), arg-name, '-oxy-hints'), transparent, true, hoverPseudoclassName, '-oxy-delete-hints', showIcon, true);
}
bibliography:hover:before(5000) {
  visibility: visible;
}
bibliography:-oxy-hints:-oxy-hints:-oxy-delete-hints:before(201) {
  background-color: rgba(255, 255, 255, 0.2);
}
bibliography:-oxy-hints:before(201) {
  display: block;
  border: 1px solid #d89e36;
  background-color: rgba(255, 250, 213, 0.6);
  border-radius: 8px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  padding-right: 1.2rem;
  content: oxy_htmlContent(href, 'hints.html', id, oxy_concat('hints', '-', oxy_local-name()), width, 100%);
}
bibliography:empty {
  -oxy-show-placeholder: always;
}
bibliography:after(1090) {
  visibility: hidden;
  display: block;
  content: oxy_button(color, #b08a5d, fontInherit, true, action, oxy_action(name, '[+]', description, 'Insert new reference', operation, 'ro.sync.ecss.extensions.commons.operations.InsertFragmentOperation', arg-fragment, '<bibliomixed  xmlns="http://docbook.org/ns/docbook"><abbrev><?oxy-placeholder content="Abreviation for references"?></abbrev> <author> <personname><surname><?oxy-placeholder content="Surname"?></surname> <firstname><?oxy-placeholder content="Firstname"?></firstname></personname> </author>: <title><?oxy-placeholder content="Reference title"?></title>. <date><?oxy-placeholder content="DD Month Year"?></date>, <orgname><?oxy-placeholder content="Organization name"?></orgname> <bibliomisc><link/></bibliomisc></bibliomixed>', arg-insertLocation, '.', arg-insertPosition, 'Inside as last child' arg-schemaAware, false), transparent, true, actionContext, element, showIcon, true);
}
bibliography:focus-within:after(1090),
bibliography:hover:after(1090) {
  visibility: visible;
}
abbrev:before {
  content: "[";
}
abbrev:after {
  content: "]";
}
surname:first-child:after {
  content: ", ";
}
link:after(10) {
  content: oxy_button(transparent, true, action, oxy_action(name, 'Edit', description, 'Edit', icon, url('img/edit16.png'), operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-setPseudoClassNames, '-oxy-edit'), showIcon, true);
}
link:-oxy-edit:after(10) {
  content: oxy_button(transparent, true, action, oxy_action(name, 'Done', description, 'Done', icon, url('img/done16.png'), operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-removePseudoClassNames, '-oxy-edit'), showIcon, true);
}
link:not([xl|href]) {
  content: "Edit reference attribute to enter link URL";
  color: gray;
}
link:-oxy-edit:after(5) {
  text-decoration: none;
  content: "\A" oxy_label(text, "  URL:", width, 20%, color, inherit) oxy_textfield(edit, '@xl:href', width, 70%);
}
abstract:before,
article > info > title:before {
  content: "";
}
